.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://edge.alluremedia.com.au/m/k/2016/01/shutterstock-programming.jpg');
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}